<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-email</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: rgb(61, 59, 59);
        }

        .form-container{
            border: 1px solid white;
            padding: 6%;
            width: 90%;
            position: absolute;
            margin-left: 5%;
            margin-top: 29%;
            box-sizing: border-box;
            border-radius: 15%;
            box-shadow: 5px 5px white;

        }
        .btn{
            height: 55px;
        }
    </style>
</head>
<body>
    <center>
        {%if messages %}
        {% for message in messages %}
        <div class="form-row">
            <div class="alert alert-{{ message.tags }} col-md-12" style="font-family: Georgia, 'Times New Roman', Times, serif;" role="alert">
                {{message}}
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </center>
    <center>
    <div class="fluid-container">
        <div class="col-12 col-sm-4 col-md-4">

            <form action="verifyforgotemailpassword" method="POST" class="form-container">
                {%csrf_token%}
                
                <div class="form-row">
                    <div class="col-md-12">
                        <br>
                        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;color:white;">We've send a verification code on </h1>
                        <h4 style="font-family:Georgia, 'Times New Roman', Times, serif;color:white;">"{{email}}"</h4>                         
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="text" name="verificationcode" id="" placeholder="***" required class="form-control">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="Submit" name="submit" class="btn btn-danger btn-block" value="Verify" id=""> 
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</center>
    
</body>
</html>